body {
  margin: 0px;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: #333;
}

:root {
  /* --primary-color: #6750a4; */
  --primary-color: #3367d6;
  --primary-color-light: #d4ebff;
  --primary-color-dark: #6595fc;
  --secondary-color: #f1f1f1;
  --blue: #3367d6;
}

/* Buttons */

button {
  text-align: left;
  border: 0px;
  background-color: transparent;
  cursor: pointer;
  padding: 0px;
  padding-right: 4px;
}

.rounded_button_filled {
  border-radius: 44px;
  padding: 12px;
  padding-left: 24px;
  padding-right: 24px;
  border-width: 0px;
  font-weight: bold;
  font-size: 14px;
  /* background-color: #e8def8; */
  background-color: var(--primary-color-light);
  cursor: pointer;
  text-decoration: none;
  margin-right: 6px;
  position: relative;
  top: 9px;
}

.rounded_button_filled:hover {
  /* box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 3px -1px, rgba(0, 0, 0, 0.14) 0px 6px 6px 0px, rgba(0, 0, 0, 0.12) 0px 1px 6px 0px; */
  box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 5px 0px, rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.12) 0px 3px 1px -2px;
}

.rounded_button_filled:active {
  color: black;
}

.rounded_button_outlined {
  border-radius: 44px;
  padding: 11px;
  padding-left: 18px;
  padding-right: 18px;
  border-width: 1px;
  border-style: solid;
  /* border-color: #79747e; */
  border-color: var(--primary-color-dark);
  font-weight: bold;
  font-size: 14px;
  /* color: #6750a4; */
  color: var(--primary-color);
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  margin-right: 6px;
  position: relative;
  top: 9px;
}

.rounded_button_outlined:hover {
  background-color: #f4f4f4;
}

.rounded_button_outlined:active {
  color: black;
}

.text_button {
  padding: 11px;
  padding-left: 18px;
  padding-right: 18px;
  font-weight: bold;
  font-size: 16px;
  color: #6750a4;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
  margin-right: 6px;
}

.text_button:hover {
  color: #000;
}

/* Back Button */
.back_button {
  border: 0px;
  border-radius: 100px;
  background-color: transparent;
  padding: 6px;
}

.back_button:hover {
  cursor: pointer;
  background-color: #eee;
}

/* Side Menu Buttons */

.side_menu_button {
  display: flex;
  align-items: center;
  font-size: 14px;
  height: 44px;
  /* width: 100%; */
}

.side_menu_button:hover {
  cursor: pointer;
  background-color: rgb(230, 230, 230);
  color: black;
}

.side_menu_button_selected {
  background-color: rgba(161, 194, 250, 0.16);
  color: #3367d6;
  border-left: solid 4px #3367d6;
}

.side_menu_button_logo {
  position: relative;
  left: 22px;
  fill: #333;
}

.side_menu_button_logo_selected {
  fill: #3367d6;
  left: 18px;
}

.side_menu_button_name {
  position: relative;
  left: 38px;
  height: auto;
}

.side_menu_button_name_selected {
  left: 34px;
}

/* Input Field */
.input_field_panel {
  --padding: 8px;
  --focus-color: rgb(61, 87, 255);
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 24px;
  max-width: 524px;
  width: 100%;
}

.input_field {
  font-family: Google Sans,
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
  padding: var(--padding);
  /* border: 2px solid gray; */
  border: 0px;
  border-bottom: 1px solid gray;
  outline: none;
  border-radius: 0px;
  /* background-color: #f1f3f4; */
  background-color: rgb(255, 255, 255);
  width: 100%;
}

.input_field_box {
  width: 100%;
}

.input_field_placeholder {
  position: absolute;
  top: 6px;
  /* background-color: #f1f3f4; */
  background-color: transparent;
  color: gray;
  left: var(--padding);
  padding: 0 4px;
  transition: all 0.2s ease-in;
  /* pointer-events: none; */
}

.input_field:is(:focus, :valid) {
  border-bottom: 2px solid var(--primary-color);
}

.input_field:is(:focus, :valid)+.input_field_placeholder {
  transform: translatey(calc(-1 * var(--padding) - 11px)) translatex(-4px);
  font-size: 14px;
  color: var(--primary-color);
}

.input_field:is(:disabled)+.input_field_placeholder {
  transform: translatey(calc(-1 * var(--padding) - 11px)) translatex(-4px);
  font-size: 14px;
  color: gray;
}
/* Snackbar */

#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 2000;
  left: 50%;
  bottom: 30px;
  font-size: 17px;
}

#snackbar.show {
  visibility: visible;
  animation: fadein 0.5s, fadeout 0.5s 2.8s;
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

/* Table */

.flat_table {
  margin-top: 44px;
 
  width: 100%;
  border-collapse: collapse; 
  margin: 25px 0;
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.15); */
}

.flat_table thead {
  background-color: var(--secondary-color);
  height: 34px;
  font-size: 14px;
  
}

.flat_table thead tr th {
  text-align: left;
  border-bottom: solid 1px #d1d1d1;
  padding-left: 12px;
}

.flat_table tbody tr:hover {
  height: 30px;
  cursor: pointer;
  border-bottom: solid 1px #d1d1d1;
  background-color: var(--secondary-color);
}

.flat_table tbody tr td {
  height: 30px;
  border-bottom: solid 1px #d1d1d1;
  padding-left: 14px;
}